@*
    Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE file in the project root for full license information.
*@

@model Microsoft.Fx.Portability.Reports.Html.CompatibilityResultsModel

@using Microsoft.Fx.Portability
@using Microsoft.Fx.Portability.ObjectModel
@using Microsoft.Fx.Portability.Reports.Html.Resources
@using System.Globalization
@using System.Linq

<h4><abbr title="@Model.Description">@Model.Name</abbr> - @Model.Breaks.Count()</h4>
<div class="BreakDetails">
    @if (Model.Breaks.Count() > 0)
    {
        <table>
            <colgroup>
                <col span="1" class="BreakingChangeID">
                <col span="1" class="APIColumn">
                <col span="2" class="LongDescriptionColumn">
            </colgroup>
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>API</th>
                    <th>Details</th>
                    <th>Recommendation</th>
                    <th class="NarrowHeader"><div>Quirked</div></th>
                    <th class="NarrowHeader"><div>Version Introduced</div></th>
                    <th class="NarrowHeader"><div>Version Reverted</div></th>
                    <th class="NarrowHeader"><div>Analyzer Status</div></th>
                    <th class="NarrowHeader"><div>Link</div></th>
                </tr>
                @foreach (KeyValuePair<BreakingChange, IEnumerable<MemberInfo>> b in Model.Breaks)
                {
                    <tr>
                        <td>@b.Key.Id</td>
                        <td class="MemberNames">
                            <ul>
                                @* .Distinct because the members can appear multiple times if they exist in multiple referenced assemblies *@
                                @foreach (string member in @b.Value.Select(m => m.ToString()).Distinct().OrderBy(s => s))
                                {
                                    // Remove the docid member/type prefix
                                    var index = member.IndexOf(":");
                                    var fixedName = index > -1 ? member.Substring(index + 1) : member;
                                    <li>@fixedName</li>
                                }
                            </ul>
                        </td>
                        <td>@{WriteLiteral(Html.ConvertMarkdownToHtml(b.Key.Details));}</td>
                        <td>@{WriteLiteral(Html.ConvertMarkdownToHtml(b.Key.Suggestion));}</td>
                        <td>@b.Key.IsQuirked</td>
                        <td>@b.Key.VersionBroken</td>
                        <td>@b.Key.VersionFixed</td>
                        <td>@b.Key.SourceAnalyzerStatus</td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(b.Key.Link))
                            {
                                <a href="@b.Key.Link">More info</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="CompatMessage GoodMessage">@string.Format(CultureInfo.CurrentCulture, LocalizedStrings.NoCompatIssuesDetected, Model.Name.ToLowerInvariant()).</p>
    }
</div>